name: Memory Pipeline

on:
  push:
    branches:
    - develop

jobs:
  test-memory:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check JPG
        run: |
        for file in *.jpg; do
          file "$file" || cp /path/tob/backup.jpg "$file"
        done

  build-memory:
    runs-on: ubuntu-latest
    needs: test-memory
    steps:
      - name:  Build Docker Image
        run: docker build -t ghcr.io/${{ github.repository }}/memory .

  push-memory:
    runs-on: ubuntu-latest
    needs: build-memory
    steps:
      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push Docker Image
        run: docker puch ghcr.io/${{ github.repository }}/memory

  deploy-memory:
    runs-on: ubuntu-latest
    needs: push-memory
    steps: 
      - name: Deploiy via SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          scripts: |
            docker-compose -f /home/dontworry/real_memory/memory/docker-compose.yml pull
            docker-compose -f /home/dontworry/real_memory/memory/docker-compose.yml up -d 
